body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0f1a;
  color: white;
}

/* NAVBAR */
nav {
  background: #111827;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px;
  background: linear-gradient(#1e3a8a, #0b0f1a);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}

.card {
  background: #111827;
  padding: 15px;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

section {
  padding: 20px;
}
